<h1 class="docs header">Tasks</h1>

{{outlet}}

<div class="task-wrapper row">
    <div id="newTasks" class="task-container large-2 columns">
        <h4>Новые</h4>
        <ul>
            {{#each task in newTasks}}
                <li>
                    <strong>{{task.title}}</strong>
                    <p>{{task.body}}</p>
                    <button {{action 'delete' task}} class='delete'>x</button>
                </li>
            {{/each}}
        </ul>
    </div>

    <div id="specificationTasks" class="task-container large-2 columns">
        <h4>Детализация</h4>
        <ul>
            {{#each task in specificationTasks}}
                <li>
                    <strong>{{task.title}}</strong>
                    <p>{{task.body}}</p>
                    <button {{action 'delete' task}} class='delete'>x</button>
                </li>
            {{/each}}
        </ul>
    </div>

    <div id="inWorkTasks" class="task-container large-2 columns">
        <h4>В процессе</h4>
        <ul>
            {{#each task in inWorkTasks}}
                <li>
                    <strong>{{task.title}}</strong>
                    <p>{{task.body}}</p>
                    <button {{action 'delete' task}} class='delete'>x</button>
                </li>
            {{/each}}
        </ul>
    </div>

    <div id="testingTasks" class="task-container large-2 columns">
        <h4>Тестирование</h4>
        <ul>
            {{#each task in testingTasks}}
                <li>
                    <strong>{{task.title}}</strong>
                    <p>{{task.body}}</p>
                    <button {{action 'delete' task}} class='delete'>x</button>
                </li>
            {{/each}}
        </ul>
    </div>

    <div id="finishedTasks" class="task-container large-2 columns">
        <h4>Завершенные</h4>
        <ul>
            {{#each task in finishedTasks}}
                <li>
                    <strong>{{task.title}}</strong>
                    <p>{{task.body}}</p>
                    <button {{action 'delete' task}} class='delete'>x</button>
                </li>
            {{/each}}
        </ul>
    </div>
</div>