{{#linkTo 'tasks'}}<h1 class="docs header">Tasks</h1>{{/linkTo}}

{{outlet}}

<div class="task-wrapper row">
    <div id="newTasks" class="task-container large-2 columns">
        <h4>Новые</h4>
        <ul data-state="backlog">
            {{#each task in newTasks}}
              <li>
                {{#linkTo 'task' task}}
                  <strong>{{task.title}}</strong>
                {{/linkTo}}
                <p>{{task.body}}</p>
                <button {{action 'delete' task}} class='delete'>x</button>
              </li>
            {{/each}}
        </ul>
        {{#linkTo 'tasks.new' classNames="button success radius"}}Добавить{{/linkTo}}
    </div>

    <div id="specificationTasks" class="task-container large-2 columns">
        <h4>Детализация</h4>
        <ul data-state="specification">
            {{#each task in specificationTasks}}
                <li>
                  {{#linkTo 'task' task}}
                    <strong>{{task.title}}</strong>
                  {{/linkTo}}
                  <p>{{task.body}}</p>
                  <button {{action 'delete' task}} class='delete'>x</button>
                </li>
            {{/each}}
        </ul>
    </div>

    <div id="inWorkTasks" class="task-container large-2 columns">
        <h4>В процессе</h4>
        <ul data-state="in_work">
            {{#each task in inWorkTasks}}
              <li>
                {{#linkTo 'task' task}}
                  <strong>{{task.title}}</strong>
                {{/linkTo}}
                <p>{{task.body}}</p>
                <button {{action 'delete' task}} class='delete'>x</button>
              </li>
            {{/each}}
        </ul>
    </div>

    <div id="testingTasks" class="task-container large-2 columns">
        <h4>Тестирование</h4>
        <ul data-state="testing">
            {{#each task in testingTasks}}
              <li>
                {{#linkTo 'task' task}}
                  <strong>{{task.title}}</strong>
                {{/linkTo}}
                <p>{{task.body}}</p>
                <button {{action 'delete' task}} class='delete'>x</button>
              </li>
            {{/each}}
        </ul>
    </div>

    <div id="finishedTasks" class="task-container large-2 columns">
        <h4>Завершенные</h4>
        <ul data-state="finished">
            {{#each task in finishedTasks}}
              <li>
                {{#linkTo 'task' task}}
                  <strong>{{task.title}}</strong>
                {{/linkTo}}
                <p>{{task.body}}</p>
                <button {{action 'delete' task}} class='delete'>x</button>
              </li>
            {{/each}}
        </ul>
    </div>
</div>

<div class='window-overlay'>
  <div class="popup">
    {{outlet popup}}
  </div>
</div>